[Desktop Entry]
Version=1.5
Type=Application
Name=Codex
Exec=/usr/bin/env Codex %u
Icon=codex-desktop
Categories=Development;
MimeType=x-scheme-handler/codex;
StartupNotify=true
