pkgbase = openai-codex-desktop-bin
	pkgdesc = OpenAI Codex desktop app for Linux (binary release)
	pkgver = 26.601.21317_icon1
	pkgrel = 1
	url = https://github.com/am-will/codex-app
	arch = x86_64
	license = custom
	makedepends = libarchive
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libdrm
	depends = libsecret
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = xdg-utils
	optdepends = git: repository integration
	optdepends = gnome-keyring: Secret Service credential storage
	optdepends = org.freedesktop.secrets: Secret Service credential storage
	provides = codex-desktop
	conflicts = codex-desktop
	options = !strip
	source = codex-app-linux-x64-v26.601.21317_icon1.deb::https://github.com/am-will/codex-app/releases/download/v26.601.21317_icon1/codex-app-linux-x64-v26.601.21317_icon1.deb
	sha256sums = SKIP

pkgname = openai-codex-desktop-bin
