pkgbase = openai-codex-desktop-bin
	pkgdesc = OpenAI Codex desktop app for Linux (binary release)
	pkgver = 26.422.21641
	pkgrel = 1
	url = https://github.com/am-will/codex-app
	arch = x86_64
	license = custom
	makedepends = libarchive
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libdrm
	depends = libsecret
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = xdg-utils
	optdepends = git: repository integration
	optdepends = gnome-keyring: Secret Service credential storage
	optdepends = org.freedesktop.secrets: Secret Service credential storage
	provides = codex-desktop
	conflicts = codex-desktop
	options = !strip
	source = codex-app-linux-v26.422.21641.deb::https://github.com/am-will/codex-app/releases/download/v26.422.21641/codex-app-linux-v26.422.21641.deb
	sha256sums = 2fd92b58ee2a14df229bf75d8f4247115a55596cd6fbd222b74c981fa15d19ea

pkgname = openai-codex-desktop-bin
